:root {
    /* color scheme 1 */
    /* --background: #095256;
    --text: #52D1DC;
    --border: #BB9F06; */

    /* color scheme 2 */
    --background: #061A40;
    --text: #FECEE9;
    --border: #0353A4;

    /* color scheme 3 */

    /* --background: #2F195F;
    --text: #FCFAFA;
    --border: #7353BA; */
    
    --font: 'Kanit', sans-serif;
}

.title-div{
    font-size: 50px;
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}
.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    max-height: 20vh;
    border-bottom: solid 5px var(--border);
    border-radius: 0px;
  }
  
  .nav-item {
    padding: 10px;
    margin-left: 20px;
    /* font-weight: bold; */
    font-family: var(--font);
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
  
  }
  
  .nav-item:hover {
    color: var(--text);
    border: 5px solid var(--border);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .current {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    font-family: var(--font);
    font-size: 20px;
    color: var(--text);
    border: 5px solid var(--border);
    border-radius: 10px;
    text-decoration: none;
  }
  
  .current:hover {
    color: var(--text);
    border: 5px solid var(--border);
    border-radius: 10px;
  }
  
  h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
  }
  
  span {
    color: var(--border);
  }